@import '~bootstrap/dist/css/bootstrap.min.css';

/*nav {
  position: fixed;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
}

nav a:hover {
  color: black;
  background-color: red;
}

nav a.active {
  color: red;
}

.contentPage {
  text-align: center;
  padding: 0;
}*/

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}