img{
    max-width: 100%;
    max-height: 100%;
}

.description{
    overflow: hidden;
    word-wrap: break-word;
}

.center{
    overflow: hidden;
}

.eventItem{
    border-top: 2px solid lightgrey;
}

.col{
    padding-right: 0px;
}