<nav class="navbar navbar-expand-sm  transparent fixed-top">
    <a  id = "divSpacing" href="home"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link colorWhite"href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link colorWhite" href="#accomplishments">Accomplishments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link colorWhite" href="#media">Highlight Reel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link colorWhite" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="MaxSection">
    <div>
      <section class="WhoWeAre" id="about">
          <iframe autoplay frameborder="0" height="100%" width="100%" 
            src="https://youtube.com/embed/UdjoiIYGH4Y?autoplay=1&controls=0&showinfo=0&autohide=1">
          </iframe>
      </section>
    </div>
    <div>
      <section class="WhatWeAccomplished" id="accomplishments">
        <h1>What we have accomplished</h1>
      </section>
    </div>
    <div>
      <section class="Promo" id="media">
        <h1>Video</h1>
      </section>
    </div>
    <div>
      <section class="ContactUs" id="contact">
        <h1>Contact</h1>
      </section>
    </div> 
  </div>