.WhoWeAre {
    text-align: center;
    background-color: red;
}

.WhatWeAccomplished {
    text-align: center;
    background-color: blue;
}

.Promo {
    text-align: center;
    background-color: green;
}

.ContactUs {
    text-align: center;
    background-color: orange
}