.MaxSection {
    height: 100%;
}
section {
    height: 45em;
}
section :hover{
    opacity: 1.0;
}

section.WhoWeAre {
    text-align: center;
    //background-image: url("../../assets/OurMisson.jpg");
    background-size: 100%;
    font-size: bold;
    color: black;
} 

ul.WhoWeAre li{
    list-style: none;
    background-color: grey;
    opacity: 1.0;
}

.WhatWeAccomplished {
    text-align: center;
    background: url(../../assets/Hickman.jpg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Promo {
    text-align: center;
    background-color: green;
}

.ContactUs {
    text-align: center;
    background-color: orange
}

.colorWhite{
    color:white;
  }


#divSpacing{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url(../../assets/logo.png);
  }

.navbar.transparent{
    background: rgba(0,0,0,0.4);
}

.imagebox {
    background: black;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
  }
  
  .imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0);
    bottom: 50%;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
  }

  .left{
    width: 40%;
    height: 100%;
    background-color: rgba(255, 0, 191, 0.5);
    vertical-align: middle;
    color: white;
    position: relative;
  }

  .content{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
