<app-nav-bar></app-nav-bar>

<div class="highlightContent shadow-lg">
    <img class = "banner" src="../../assets/trophy.jpg">
</div>
<div class="row">
    <div class="col-8 ">
        <app-info-container>Content list of all current items</app-info-container>
    </div>
    <div class="col events">
      <div class="row container card shadow-lg">
        <div class="row container">
          <div class="calendarIcon col-2 fa fa-calendar fa-lg"></div>
          <h3 class="col contentInline">Upcoming Events</h3>
        </div>
        <div class="sidePanel row container">
          <app-side-panel></app-side-panel>
          <app-side-panel></app-side-panel>
        </div>
      </div>
    </div>
    
</div>
<div class="row team">
    <!-- <app-protrait-frame></app-protrait-frame>
    <app-protrait-frame></app-protrait-frame>
    <app-protrait-frame></app-protrait-frame>-->
    <app-protrait-frame></app-protrait-frame> 
</div>
<app-footer-region></app-footer-region>