.banner{
    object-fit: none;
    object-position: center;
    height:300px;
    width: 100%;
    overflow: hidden;
}

.events{
    margin-top: 10px;
}

.card{
    margin-bottom: 10px;
}

.col{
    height: 50%;
}

.calendarIcon{
    padding: 10px;
    vertical-align: center;
}

.container{
    padding-top: 10px;
    padding-right: 0px;
}

.team {
    width: 100px;
    height: 100px;
}