.card{
    padding-top: 20px;
    margin: 0px;
    padding-bottom: 20px;
    text-align: center;
    display:inline-block;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.description{
    overflow: hidden;
    word-wrap: break-word;
    padding: 10px;
}

.center{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display:inline-block;
}