<section>
    <div class="card container shadow-lg">
      <div class="row container center">
        <h1>Our Mission</h1>
      </div>
      <div class="row container">
        <p>As gamers ourselves, we know of all the good that can come from playing and competing.  Our mission is to encourage the positive problem solving and social interaction that comes from being a part of the gaming community.   We preach balance between gaming, relationships, physical activity and personal development and how parents can get on board with the idea of the Ukatsu Gamer.</p> 
      </div>
      <div class="row container center">
          <img src="../../../assets/OurMisson.jpg">
      </div> 
    </div>
</section>

<!----<div class = "col-4">
  <img class = "rounded" src="../../../assets/rockbridge.jpg">
</div>
<div class = "col">
  <div class = "row center">
    <h3>Title</h3>
  </div>
  <div class="row">
    <p class="description">unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It wasnt popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more </p>
  </div>
</div>-->